{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="" class="notification_block">
  <div class="notification_wrapper d-none d-sm-block">
  <i class="fas fa-info-circle fa-3x infoicon"></i>
    <p class="notification_message_wrapper"><strong class="notification__callout">NOTE:</strong> <span class="notification-dialog__message">These amiibo cards are compatible with the Animal Crossing: New Leaf – Welcome amiibo game. Tap the card to invite the depicted villager to your town!</span></p>
  </div>
</div>

    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="productname">Favorites</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

        <!--<img src="{{MEDIA_URL}}post_image/Pompom.png">-->
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in new %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid shakem" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                <div id="favorite-section"><a href="{% url 'add_favorites' product.id %}"> <i class="fas fa-trash-alt fa-2x"></i></a></div>
                                {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">

                                {% endif %}
                                
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€ {{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
