{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Whatever for now</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
	<link href="https://allfont.net/allfont.css?fonts=armata" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Armata&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
{% block content %}
{% endblock %}

<!-- FOOTER n stuff -->
<footer class="myfooter">
	<hr class="separator">
	<div class="shopwidth">
		<div class="">
			<div class="table-item-footer half1 xtramargin">
				<div class="payment-icons">
					<ul class="payment-method-icons-list">
						<li class="payment-icon">
							<img><i class="fab fa-paypal"></i></img>
						</li>
						<li class="payment-icon">
							<img><i class="fab fa-ideal"></i></img>
						</li>
						<li class="payment-icon">
							<img><i class="fab fa-cc-mastercard"></i></img>
						</li>
					</ul>

				</div>
			</div>
			<div class="table-item-footer half2 xtramargin">
				<div class="txtalign">
					<small class="site-footer__copyright-content">© 2020, <a href="/" title="">Whatever for Now</a></small>
				</div>
			</div>
		</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</div>
</div>
</body>

</html>