https://cdn.shopify.com/s/files/1/0070/8388/4615/t/12/assets/homepage-hero-background-d-r2.jpg?v=4054260578733794572


Potential features to include:

    Showcase prior work for clients, based on different kinds of requests, and the customer's testimonials.

    Allow users to order a particular graphic to suit their goals. The user would fill out a form describing their needs, including fields such as type (e.g. icon, logo, poster), size and description, get an automatic quote and then pay. You may want to include a javascript calculator to display a preview of the quote, but make sure that the final price is determined on the server, and cannot be manipulated directly by the user.

    The site owner, logging in as a special user, would be able to see a list of all orders, and then upload their completed work which would be made available to the customer.

Advanced potential feature (nice-to-have)

    The customer then has the option to either accept the result, or request a round of changes.

    Once the customer accepts, they would write a testimonial and the final graphic would be automatically included in the site's showcase.

    Build a custom js display mechanism for the gallery page - e.g. your own unique kind of carousel.

Product reviews

====








    Use of Stripe: At least one of your Django apps should contain some e-commerce functionality using Stripe. This may be a shopping cart checkout, subscription-based payments or single payments, donations, etc. After paying successfully, the user would then gain access to additional functionality/content on the site. Note that for this project you should use Stripe's test functionality, rather than actual live payments.



    
    Security: Make sure to not include any passwords or secret keys in the project repository. Make sure to turn off the Django DEBUG mode, which could expose secrets.
